

<h1>Insurance Policy Management</h1>
<div>

  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>ID</th>
      <th>Policy Number</th>
      <th>Policy Amount</th>
      <th>Operations</th>

    </tr>

    <tr *ngFor="let policy of policies">
      <td>{{ policy.id }}</td>
      <td>{{ policy.number }}</td>
      <td>{{ policy.amount }}</td>
      <input
       type="button" (click)="deletePolicy(policy.id)" value="Delete">
       <input
        type ="button" (click)="selectPolicy(policy)" value="select"
      >
    </tr>
  </table>
  
<br>
<form #f = "ngForm">
  <label>Number</label>
  <input type="text" name="number" [(ngModel)] = "selectedPolicy.number">
  <br>
  <label>Amount</label>
  <input type="text" name="amount" [(ngModel)] = "selectedPolicy.amount">
  <br>
  <input type="button" (click)="createOrUpdatePolicy(f)" value="Create or Update Policy">
</form>



